SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_ENCRYPTION="tls"
SMTP_USERNAME="ttu.enrollment@gmail.com"
SMTP_PASSWORD="your-google-app-password"
MAIL_FROM_ADDRESS="ttu.enrollment@gmail.com"
MAIL_FROM_NAME="Triple T University"

DB_HOST="localhost"
DB_PORT="3306"
DB_DATABASE="sia"
DB_USERNAME="root"
DB_PASSWORD=""

APP_ENV="development"
